# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build & Output
/client/dist
/client/build
/server/uploads/*
!/server/uploads/.gitkeep
/uploads/*
!/uploads/.gitkeep
/reports/*
!/reports/.gitkeep

# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.ipynb_checkpoints/
ml_engine/models/*
!ml_engine/models/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
